<%- include ("partials/header") %>
<link rel="stylesheet" href="/stylesheets/background.css" type="text/css">

<div class="opener">

    <p> At Sapphire Park, you will find an abundance of nature and wildlife which you can learn about here.
        If you wish to observe them, we encourage you to make use of our nature trails, bird blinds, and to pay a visit to the fishing pond!
    </p>

</div>

<div class="nature">
<div class="scrollbox">
    <h3> Trees, Plants, and Flowers</h3>
    <table>
        <tbody>
        <tr>
            <td> <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> </td>
            <td><a href="https://en.wikipedia.org/wiki/Quercus_rubra">Northern Red Oak Tree</a></td>
        </tr>
        <tr>
            <td> <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> </td>
            <td><a href="https://en.wikipedia.org/wiki/Ilex_vomitoria">Yaupon Holly</a></td>
        </tr>
        <tr>
            <td> <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> </td>
            <td><a href="https://en.wikipedia.org/wiki/Cistus">Cistus</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="scrollbox">
    <h3> Birds</h3>
    <table>
        <tbody>
            <tr>
                <td> <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> </td>
                <td><a href="https://en.wikipedia.org/wiki/Eastern_phoebe">Eastern Phoebe</a></td>
            </tr>
            <tr>
                <td> <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> </td>
                <td><a href="https://en.wikipedia.org/wiki/Vermilion_flycatcher">Vermilion Flycatcher</a></td>
            </tr>
            <tr>
                <td> <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> </td>
                <td><a href="https://en.wikipedia.org/wiki/Blue_jay">Blue Jay</a></td>
            </tr>
            <tr>
                <td> <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> </td>
                <td><a href="https://en.wikipedia.org/wiki/Carolina_wren">Carolina Wren</a></td>
            </tr>
            <tr>
                <td> <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> </td>
                <td><a href="https://en.wikipedia.org/wiki/Northern_mockingbird">Northern Mockingbird</a></td>
            </tr>
            <tr>
                <td> <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> </td>
                <td><a href="https://en.wikipedia.org/wiki/Northern_mockingbird">Northern Cardinal</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="scrollbox">
    <h3> Bugs and Butterflies </h3>
    <table>
        <tbody>
        <tr>
            <td> <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> </td>
            <td><a href="https://en.wikipedia.org/wiki/Monarch_butterfly">Monarch Butterfly</a>></td>
        </tr>
        <tr>
            <td> <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> </td>
            <td><a href="https://en.wikipedia.org/wiki/Luna_moth">Luna Moth</a></td>
        </tr>
        <tr>
            <td> <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> </td>
            <td><a href="https://en.wikipedia.org/wiki/Eastern_tent_caterpillar">Eastern Tent Caterpillar</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="scrollbox">
    <h3> Fish and Reptiles </h3>
    <table>
        <tbody>
        <tr>
            <td> <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> </td>
            <td><a href="https://en.wikipedia.org/wiki/Largemouth_bass">Largemouth Bass</a></td>
        </tr>
        <tr>
            <td> <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> </td>
            <td><a href="https://en.wikipedia.org/wiki/American_bullfrog">American Bullfrog</a></td>
        </tr>
        <tr>
            <td> <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> </td>
            <td><a href="https://en.wikipedia.org/wiki/Urosaurus_ornatus">Ornate Tree Lizard</a></td>
        </tr>
        <tr>
            <td> <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> </td>
            <td><a href="https://en.wikipedia.org/wiki/Western_ground_snake">Western Groundsnake</a></td>
        </tr>
        </tbody>
    </table>
</div>

</div>

<div class="hist">
    <h1>History</h1>
    <p>
        NOTE: All names and situations below are hypothetical and any similarity to actual persons, living or dead, or actual events, is purely coincidental.
        Egbert W. Sapphire was born Sept. 12, 1898, in Someothercity, Someotherstate. After the World War I veteran came to work in Somecity, he fell in love with a SuburbName girl, and they chose a 200-acre plot along LocalCreek to raise their growing family. Over the years the family sold off portions of the property, leaving about 60 acres on the north side of LocalCreek for their retirement homestead.
        The fields of wildflowers and prairie grass shaded by large pecan trees became a wonderful gathering place for the family during holidays and special celebrations. Mr. Sapphire loved the property and tended to it himself, mowing the acreage on his tractor and trimming each tree by hand. The beautiful property he loved became what Egbert Sapphire envisioned when he first saw the land in the early 1960s - "This is a great place to start my story." Egbert Sapphire died in November 1977 at the age of 79. Trebge Sapphire died in 1989 at age 92. Their SuburbName property was left to their daughters.
        In 1994 the SuburbName Park Facilities Development Corporation accepted a 13-acre land donation for use as a linear park from a residential developer building on the south side LocalCreek and adjacent to the Billiams property. In 1999 the City acquired seven acres of the Billiams property to widen Some Road as well as create a detention pond and linear park trail connection.
        Although SuburbName was growing around their property, the family wished for the land their father held so dear to remain untouched. They approached the City of Mansfield about purchasing the property for a park where the beauty of the natural space would be maintained and education, appreciation and preservation would be the principal goals driving its development. The sale was finalized in 2004. The property in this sale, as well as the 20 acres previously acquired by the City, comprises the 80-acre Elmer W. Oliver Nature Park.
        The nature park was named for Egbert W. Sapphire at the request of the family, to honor the man who first walked among the trees nestled by the creek bank and realized that this is where his "story begins."
        A master plan to develop the property was formally adopted in 2011, and the park opened in January 2014.

        Egbert W. Sapphire was born Sept. 12, 1898, in Someothercity, Someotherstate. After the World War I veteran came to work in Somecity, he fell in love with a SuburbName girl, and they chose a 200-acre plot along LocalCreek to raise their growing family. Over the years the family sold off portions of the property, leaving about 60 acres on the north side of LocalCreek for their retirement homestead.
        The fields of wildflowers and prairie grass shaded by large pecan trees became a wonderful gathering place for the family during holidays and special celebrations. Mr. Sapphire loved the property and tended to it himself, mowing the acreage on his tractor and trimming each tree by hand. The beautiful property he loved became what Egbert Sapphire envisioned when he first saw the land in the early 1960s - "This is a great place to start my story." Egbert Sapphire died in November 1977 at the age of 79. Trebge Sapphire died in 1989 at age 92. Their SuburbName property was left to their daughters.
        In 1994 the SuburbName Park Facilities Development Corporation accepted a 13-acre land donation for use as a linear park from a residential developer building on the south side LocalCreek and adjacent to the Billiams property. In 1999 the City acquired seven acres of the Billiams property to widen Some Road as well as create a detention pond and linear park trail connection.
        Although SuburbName was growing around their property, the family wished for the land their father held so dear to remain untouched. They approached the City of Mansfield about purchasing the property for a park where the beauty of the natural space would be maintained and education, appreciation and preservation would be the principal goals driving its development. The sale was finalized in 2004. The property in this sale, as well as the 20 acres previously acquired by the City, comprises the 80-acre Elmer W. Oliver Nature Park.
        The nature park was named for Egbert W. Sapphire at the request of the family, to honor the man who first walked among the trees nestled by the creek bank and realized that this is where his "story begins."
        A master plan to develop the property was formally adopted in 2011, and the park opened in January 2014.
    </p>
</div>

<%- include ("partials/footer") %>