<%- include ("partials/header") %>
<link rel="stylesheet" href="/stylesheets/visit.css" type="text/css">

<div class="centered">
<p class="heading">Contact Hours</p>
<p> 9AM - 5PM Monday to Friday </p>
<p class="heading">Address</p>
<p> 123 Sapphire Park Way</p>
<p> Somecity, Somestate</p>
<p> 00000 </p>
<p class="heading">Phone Number</p>
<p>000-000-0000</p>
<p class="heading">Resources</p>
<form method="get" action="images/Sapphire_Park_Map.png" target="_blank">
    <button type="submit">Download the Park and Trail Map</button>
</form>

<p class="heading">Contact Form</p>
</div>

<div class="container">
<!--    <form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">-->
    <form>
        <fieldset>
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name...">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name...">

            <label for="email">Email</label>
            <input type="text" id="email" name="e-mail" placeholder="Your email...">

            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something..." style="height:200px"></textarea>

            <input type="submit" value="Submit" id="contact-form-submit">
        </fieldset>
    </form>
</div>

<script src="/scripts/contact-form.js" type="text/javascript"></script>

<%- include ("partials/footer") %>